.login-warp{
	margin-top: 1rem;


	.login-phone{
		height: 30px;
		padding: 0 .2rem;
		margin-top: .6rem;
		background-color: #fff;
		border-radius: 6px;
		font-size: 16px;

		.login-icon{
			width: 16px;
			height: 16px;
			font-size: 16px;
			margin-top: 7px;
		}

		.login-input-warp{
			margin-left: 24px;

					.login-phone-input{
						width: 80%;
						height: 28px;
						line-height: 28px;
						font-size: 16px;
						border: 0;
						outline: none;
					}
		}

		.mr100{margin-right: 100px;}
	}


	.login-btn-wrap{
		height: 30px;
		margin: .6rem .4rem;
		font-size: 14px;
	}
	.login-btn{
		width: 100%;
		height: 100%;
		color: #fff;
		background-color: red;
		text-align: center;
		outline: none;
		border: none;
	}
}