.header-component{
	height: 40px;
	background-color: #f3394e;
	text-align: center;
	overflow: hidden;
	
	.header-icon{
		width: 20px;
		height: 20px;
		font-size: 20px;
		color: #fff;
		margin: 10px 0 0 10px;
	}

	h1{
		font-size: 22px;
		line-height: 40px;
		color: #fff;
		font-weight: 800;
	}
}