.category{
	background-color: #fff;
}
.carousel-wrap{

	ul{
		width: 100%;
		padding-top: .1rem;
		font-size: 0;
	}

	li{
		height: 1.5rem;
		width: 20%;
		float: left;
		font-size: .24rem;
		text-align: center;
		padding-top: .2rem;

		span{
			width: .9rem;
			height: .9rem;
			display: inline-block;
			border-radius: 50%;
			background-color: #eee;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: .9rem .9rem;
		}
		p{
			height: .4rem;
			line-height: .4rem;
			text-align: center;
		}
	}
	.meishi{background-image: url(./img/meishi.png);}
	.dianying{background-image: url(./img/dianying.png);}
	.jiudian{background-image: url(./img/jiudian.png);}
	.xiuxianyule{background-image: url(./img/xiuxianyule.png);}
	.waimai{background-image: url(./img/waimai.png);}
	.huoguo{background-image: url(./img/huoguo.png);}
	.liren{background-image: url(./img/liren.png);}
	.dujiachuxing{background-image: url(./img/dujiachuxing.png);}
	.zudianmo{background-image: url(./img/zudianmo.png);}
	.zhoubianyou{background-image: url(./img/zhoubianyou.png);}
	.meishi{background-image: url(./img/meishi.png);}

	.jingdian{background-image: url(./img/jingdian.png);}
	.KTV{background-image: url(./img/KTV.png);}
	.shopping{background-image: url(./img/shopping.png);}
	.shenghuofuwu{background-image: url(./img/shenghuofuwu.png);}
	.yundongjianshen{background-image: url(./img/yundongjianshen.png);}
	.meifa{background-image: url(./img/meifa.png);}
	.qinzi{background-image: url(./img/qinzi.png);}
	.xiaochikuaican{background-image: url(./img/xiaochikuaican.png);}
	.zizucan{background-image: url(./img/zizucan.png);}
	.jiuba{background-image: url(./img/jiuba.png);}
	
	.ribencai{background-image: url(./img/ribencai.png);}
	.SPA{background-image: url(./img/SPA.png);}
	.jiehun{background-image: url(./img/jiehun.png);}
	.xuexipeixun{background-image: url(./img/xuexipeixun.png);}
	.xican{background-image: url(./img/xican.png);}
	.huochejipiao{background-image: url(./img/huochejipiao.png);}
	.shaokao{background-image: url(./img/shaokao.png);}
	.jiazhuang{background-image: url(./img/jiazhuang.png);}
	.chongwu{background-image: url(./img/chongwu.png);}
	.quanbufenlei{background-image: url(./img/quanbufenlei.png);}
}

.carousel-btn{
	width: 100%;
	height: .4rem;
	margin-top: .2rem;
	position: relative;

	ul{
		height: 100%;
		text-align: center;

		li{
			display: inline-block;
			vertical-align: top;
			width: .17rem;
			height: .17rem;
			margin-right: .2rem;
			background-color: #333;
			border-radius: 50%;
		}
		.active{
			background-color: red;
		}
	}
}